* {
  box-sizing: border-box;
}

body {
  background-color: #121212;
  position: relative;
}

.background-image{
    filter: brightness(50%);
    height: 100%;
    width: 100%;
    position: relative;
}
