:root{
  --main-color: #54e6af
}
* {
  box-sizing: border-box;
  font-family: 'Chivo', sans-serif;
  font-weight: 400;
}

body {
  background-color: #121725;
  position: relative;
  margin: 0 auto;
}

.background-image {

  filter:  brightness(10%);
  mix-blend-mode: screen;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

.logo {
  text-align: center;
  padding: 62px 120px;
}
.main{
  padding: 0 24px;
}
h1 {
  color: var(--main-color);
  text-transform: uppercase;
  text-align: center;
  font-size: 26px;
  line-height: 38px;
}

h1 span {
  color: white
}

p {
  color: #C2CBE5;
  font-size: 15px;
  text-align: center;
  line-height: 25px;
  margin-bottom: 33px;
}

.svg-logos{
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity:0.5;
  max-height: 17px;
}

.svg-logos img{
 height: 17px;
}

#google{
  height: 11px;
}

#pocket{
  height: 15px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  border-radius: 50px;
  height: 46px;
  border: none;
}

#email{
 margin-bottom: 16px;
 margin-top: 48px;
 background-color: #2C344B;
 text-indent: 32px;
}

#email::placeholder{
  color: white;
  opacity: 0.5;
  font-weight: bold;
}

#submit{
  background-color: #54E6AF;
}

input[value="Request Access"]{
  color: #121725;
  font-weight: bold;  
}