:root {
  --main-color: #54e6af;
}
* {
  box-sizing: border-box;
  font-family: 'Chivo', sans-serif;
  font-weight: 400;
}

body {
  background-color: #121725;
  position: relative;
  margin: 0 auto;
}

.background-image-mobile {
  filter: brightness(10%);
  mix-blend-mode: screen;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}
.background-image-tablet,
.background-image-desktop,
.dots {
  display: none;
}

.logo {
  text-align: center;
  padding: 62px 120px;
}
.main {
  padding: 0 24px;
}
h1 {
  color: var(--main-color);
  text-transform: uppercase;
  text-align: center;
  font-size: 26px;
  line-height: 38px;
}

h1 span {
  color: white;
}

p {
  opacity: 0.8;
  color: #c2cbe5;
  font-size: 15px;
  text-align: center;
  line-height: 25px;
  margin-bottom: 33px;
}

.svg-logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0.5;
}

.svg-logos img {
  height: 17px;
}

#google {
  height: 11px;
}

#pocket {
  height: 15px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  border-radius: 50px;
  height: 46px;
  border: none;
}

#email {
  margin-bottom: 16px;
  margin-top: 48px;
  background-color: #2c344b;
  text-indent: 32px;
}

#email,
#email::placeholder {
  color: white;
  font-weight: bold;
}

#email::placeholder {
  opacity: 0.5;
}

#submit {
  background-color: var(--main-color);
}

#submit:hover {
  background-color: #b3ffe2;
  cursor: pointer;
}

input[value='Request Access'] {
  color: #121725;
  font-weight: bold;
}

.invalid {
  font-size: 12px;
  line-height: 14px;
  color: #fb3e3e;
  font-weight: bold;
  margin-top: 8px;
}
/* MEDIA Queries */

@media only screen and (min-width: 768px) {
  .background-image-mobile {
    display: none;
  }

  .background-image-tablet {
    display: block;
    position: absolute;
    right: 0%;
    z-index: -1;
  }

  .logo {
    text-align: left;
    padding: 50px 0px 0px 39px;
  }

  .main {
    background-color: #121725;
    position: absolute;
    width: 635px;
    height: 509px;
    left: 39px;
    top: 258px;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-size: 48px;
    margin: 0;
    margin-top: 93px;
    margin-bottom: 31px;
  }
  p {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 40px;
    width: 445px;
  }

  h1,
  p {
    text-align: left;
  }

  .svg-logos {
    order: 1;
  }
  form {
    width: 427px;
  }
  #email {
    /* Tell the input to use all the available space */
    flex-grow: 2;
    /* And hide the input's outline, so the form looks like the outline */
    border: none;
    margin: 0;
    height: 56px;
  }

  #email:focus {
    /* removing the input focus blue box. Put this on the form if you like. */
    outline: none;
  }

  #submit {
    position: absolute;
    top: 66.5%;
    right: 33.5%;
    height: 46px;
    width: 162px;
  }
  .svg-logos {
    margin-top: 64px;
    width: 536px;
    opacity: 0.5;
    max-height: 29px;
    align-content: center;
    align-items: center;
  }

  .svg-logos img {
    height: 29px;
  }

  #google {
    height: 18px;
  }
  #pocket {
    height: 26px;
  }

  .dots {
    display: block;
    position: fixed;
    bottom: 0px;
    left: 30px;
    z-index: 999;
  }

  @media only screen and (min-width: 1440px) {
    .background-image-tablet {
      display: none;
    }

    .background-image-desktop {
      display: block;
      z-index: -1;
      position: absolute;
      width: 888px;
      height: 640px;
      left: 552px;
      top: 130px;
    }

    .main {
      width: 723px;
      top: 261px;
      left: 165px;
    }

    .logo {
      padding: 102px 0px 0px 165px;
    }
    .dots {
      left: 1208px;
      top: 718px;
    }

    #submit {
      right: 41.5%;
    }

    .invalid {
      margin-left: 32px;
    }
  }
}
